* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #444;
}

:root {
    --orange: #fa7436;
    --dark: #222;
    --gray: #666;
    --light: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.center {
    text-align: center;
}

/* HEADER */
.header {
    border-bottom: 1px solid #eee;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 25px;
    list-style: none;
}

.auth {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    min-width: 160px;
}

/* BUTTONS */
.btn {
    background: var(--orange);
    color: #fff;
    border: none;
    padding: 10px 22px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(188, 94, 32, 0.26);
}

.btn-outline {
    background: transparent;
    border: 1px solid var(--orange);
    color: var(--orange);
    padding: 12px 28px;
    border-radius: 6px;
}

/* HERO */
.hero {
    padding: 80px 0;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.title {
    font-family: "Volkhov", serif;
    font-size: 48px;
    line-height: 56px;
}

.hero-text span {
    color: var(--orange);
}

.hero-text p {
    margin: 20px 0;
    color: var(--gray);
}

.hero-img img {
    width: 100%;
}

/* SEARCH */
.search-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.fa-chevron-down:before {
    content: "\f078";
    color: #fa7436;
}

.search-bar {
    background: #fff;
    display: flex;
    gap: 80px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
}

.search-item h4 {
    font-weight: 500;
}

.search-item p {
    font-size: 14px;
    color: #777;
}

.divider {
    width: 1px;
    background: #e5e5e5;
}

/* THINGS TO DO */
.section {
    padding: 60px 0;
    background: #f8f9fc;
}

/* HEADER WRAPPER */
.things-header {
    position: relative;
    text-align: center;
    max-width: 700px;
    margin: auto;
}

/* TITLE */
.title {
    font-size: 42px;
    font-weight: 700;
    color: #222;
    margin-bottom: 12px;
}

.title span {
    color: #fa7436;
}

/* SUBTITLE */
.section-subtitle {
    font-size: 16px;
    color: #777;
    line-height: 1.6;
}

/* SVG POSITION */
.bg-element {
    position: absolute;
    top: -10px;
    right: -80px;
}

.bg-element img {
    width: 100px;
    opacity: 0.6;
}
/* CARDS WRAPPER */
.cards {
    max-width: 1160px;
    margin: 40px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

/* CARD */
.card {
    background: #ffffff;
    border-radius: 20px;
    padding: 32px 28px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.06);
    position: relative;
    overflow: hidden;
}

/* CURVED BACKGROUND LINE */
.card::after {
    content: "";
    position: absolute;
    right: -60px;
    top: 70px;
    width: 320px;
    height: 200px;
    background: url("assests/curve-line.png") no-repeat;
    background-size: contain;
    opacity: 0.2;
    pointer-events: none;
}

/* ICON */
.card img {
    width: 42px;
    height: 42px;
    margin-bottom: 20px;
}

/* TEXT */
.card h3 {
    font-size: 20px;
    font-weight: 700;
    color: #222;
    margin-bottom: 12px;
}

.card p {
    font-size: 15px;
    color: #777;
    line-height: 1.6;
}
@media (max-width: 992px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
    }
}


/* DEALS */
.deals-section {
    padding: 100px 0;
    background: #fffaf7;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.title {
    font-size: 42px;
    font-weight: 700;
    color: #222;
}

.title span {
    color: #fa7436;
}

.section-subtitle {
    margin-top: 12px;
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

.deals-grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
}

.deal-card {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
    position: relative;
}

.deal-card.active {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(203, 84, 33, 0.233);
    position: relative;
}

.deal-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.book-btn {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fa7436;
    color: #fff;
    border: none;
    padding: 10px 22px;
    border-radius: 8px;
    cursor: pointer;
}

.deal-content {
    padding: 18px;
    text-align: left;
}

.deal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deal-header h3 {
    font-size: 20px;
    font-weight: 600;
}

.rating {
    font-size: 14px;
    color: #666;
}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: #777;
}

.location img {
    width: 16px;
    height: 20px;
}

.deal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    color: #777;
}

.price del {
    margin-right: 6px;
    color: #aaa;
}

.offer {
    background: #ffe7dc;
    color: #fa7436;
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: 600;
}

.slider-nav {
    margin-top: 50px;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.nav-btn {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    margin: 0 6px;
}

.nav-btn.active {
    background: #fa7436;
    color: #fff;
    border-color: #fa7436;
}

/* VACATION PLAN */
.vacation-section {
    padding: 100px 0;
    background: #fffaf7;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* HEADER WRAPPER */
.vacation-header {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

/* TEXT */
.header-content {
    max-width: 650px;
    margin: auto;
}

.title {
    font-size: 48px;
    font-weight: 700;
    color: #222;
}

.title span {
    color: #fa7436;
}

.section-subtitle {
    margin-top: 14px;
    color: #777;
    line-height: 1.6;
}

/* SVG ELEMENT */
.bg-element {
    position: absolute;
    top: -10px;
    right: 120px;
}

.bg-element img {
    width: 80px;
}

/* SLIDER BUTTONS — BOTTOM RIGHT */
.slider-controls {
    position: absolute;
    right: 0;
    bottom: -60px;
    display: flex;
    gap: 12px;
}

/* BUTTON STYLE */
.nav-btn {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    font-size: 18px;
}

.nav-btn.active {
    background: #fa7436;
    color: #fff;
    border-color: #fa7436;
}

/* Vacation Cards */
.vacation-cards {
    padding: 60px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
}

.vacation-card {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08);
}

.vacation-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-content {
    padding: 18px;
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-top h4 {
    font-size: 18px;
    font-weight: 600;
}

.price {
    color: #fa7436;
    font-weight: 600;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    color: #777;

    .trip-info {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .flight-icon {
        width: 16px;
        height: 16px;
    }
}

.rating {
    font-size: 14px;
    color: #666;
}

@media (max-width: 768px) {
    .bg-element {
        display: none;
    }

    .slider-controls {
        position: static;
        justify-content: center;
        margin-top: 30px;
    }

    .title {
        font-size: 36px;
    }
}

/* TESTIMONIAL */
.testimonial {
    background: #f8f9fc;
    padding: 120px 0;
}

.testimonial-container {
    max-width: 1200px;
    height: 300px;
    max-height: 500px;
    margin: auto;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    /* IMPORTANT */
}

/* LEFT */
.testimonial-left h2 {
    font-family: Volkhov, serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}

.testimonial-left span {
    color: #fa7436;
}

.testimonial-left p {
    margin-top: 20px;
    color: #666;
    max-width: 420px;
    line-height: 1.6;
}

.testimonial-nav {
    margin-top: 40px;
    display: flex;
    gap: 16px;
}

.nav-btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-btn.active {
    background: #fa7436;
    color: #fff;
    border-color: #fa7436;
}

/* RIGHT */
.testimonial-right {
    position: relative;
    width: 100%;
    max-width: 420px;
    height: auto;
    margin-top: 40px;
}


/* CARD BASE */
.testimonial-card {
    position: absolute;
    width: 100%;
    background: #fff;
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0 30px 70px rgba(0, 0, 0, 0.08);
}

/* BACK CARD */
.testimonial-card.back {
    top: 0px;
    /* move to top */
    left: 0;
    opacity: 0.35;
    z-index: 1;
}

/* FRONT CARD */
.testimonial-card.front {
    bottom: -40px;
    /* move to bottom */
    right: 30px;
    z-index: 2;
}

/* AVATAR */
.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: absolute;
    top: -28px;
    /* moved avatar to bottom of card */
    left: -28px;
    border: 4px solid #fff;
    background: #fff;
}

/* TEXT */
.testimonial-card p {
    margin-top: 20px;
    font-size: 16px;
    color: #444;
    line-height: 1.7;
}

.testimonial-card h4 {
    margin-top: 22px;
    font-size: 18px;
    font-weight: 600;
}

.testimonial-card span {
    font-size: 14px;
    color: #777;
}

/* RESPONSIVE */

@media (max-width: 1024px) {
    .testimonial-container {
        flex-direction: column;
        text-align: center;
    }

    .testimonial-left p {
        max-width: 100%;
    }

    .testimonial-nav {
        justify-content: center;
    }

    .testimonial-right {
        max-width: 100%;
    }

    .testimonial-card {
        position: relative;
        margin-bottom: 24px;
    }

    .testimonial-card.back {
        display: none;
        /* hide background card on mobile */
    }

    .avatar {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 16px;
    }
}

@media (max-width: 600px) {
    .testimonial-left h2 {
        font-size: 34px;
    }

    .testimonial-card {
        padding: 24px;
    }

    .testimonial {
        padding: 80px 0;
    }
}

/* BLOG */
.blog {
    padding: 120px 0;
    background: #fff;
    text-align: left;
}

.blog h1 {
    margin-bottom: 60px;
    text-align: center;
}

.blog h2 span {
    color: #fa7436;
}

.blog-cards {
    max-width: 1200px;
    margin: 0 auto;
    /* centers cards */
    padding: 0 16px;
    /* optional: mobile spacing */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.blog-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
}

.blog-card h3 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

.blog-card .date {
    margin-top: 10px;
    font-size: 14px;
    color: #999;
}

/* Dots */
.blog-dots {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.blog-dots span {
    width: 8px;
    height: 8px;
    background: #ddd;
    border-radius: 50%;
}

.blog-dots span.active {
    background: #fa7436;
}

/* SUBSCRIBE */

.subscribe {
    padding: px 0 10px;
    background: #f8f9fc;
}

.subscribe-box {
    max-width: 1150px;
    margin: auto;
    background: #fa7436;
    border-radius: 20px;
    padding: 80px 40px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.subscribe-box img {
    padding-left: 10px;
}

.subscribe-box h2 {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.3;
}

.subscribe-input {
    margin-top: 40px;
    background: #fff;
    border-radius: 12px;
    padding: 8px;
    max-width: 520px;
    margin-inline: auto;
    display: flex;
    align-items: center;
}

.subscribe-input input {
    flex: 1;
    border: none;
    outline: none;
    padding: 14px;
    font-size: 16px;
}

.subscribe-input button {
    background: #fa7436;
    border: none;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

/* decorative circles */
.circle {
    position: absolute;
    width: 220px;
    height: 220px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    bottom: -80px;
    left: -60px;
}

.circle:nth-child(3) {
    transform: scale(1.2);
}

.circle:nth-child(4) {
    transform: scale(1.4);
}

.circle:nth-child(5) {
    transform: scale(1.6);
}

.circle:nth-child(6) {
    transform: scale(1.8);
}

/* FOOTER */
.footer {
    background: #f8f9fc;
    padding: 80px 0 40px;
}

.footer-container {
    max-width: 1180px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
}

.footer-brand h3 {
    font-size: 22px;
    font-weight: 700;
}

.footer-brand p {
    margin: 20px 0;
    max-width: 250px;
    color: #666;
    line-height: 1.6;
}

.socials {
    display: flex;
    gap: 16px;
}

.socials span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.socials span.active {
    background: #fa7436;
    color: #fff;
}

.footer-links h4 {
    margin-bottom: 20px;
    font-size: 18px;
}

.footer-links a {
    display: block;
    color: #666;
    text-decoration: none;
    margin-bottom: 14px;
    font-size: 15px;
}

/* BOTTOM */
.footer-bottom {
    max-width: 1130px;
    margin: 70px 0 0 70px;
    border-top: 1px solid #ddd;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    color: #888;
    font-size: 14px;
}


/* RESPONSIVE */
@media (max-width: 768px) {

    .hero-grid,
    .search-bar,
    .cards,
    .deals,
    .blogs,
    .footer-grid {
        grid-template-columns: 1fr;
        flex-direction: column;
    }

    .menu {
        display: none;
    }

    .search-bar {
        align-items: stretch;
    }
}